# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.python-version
.env

# Django-specific
db.sqlite3
*.log

# Environment and dependency files
.env
venv/
env/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Backup files
*.bak
*.tmp
*.swp

# Project-specific directories
staticfiles/
media/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Django cache
__pycache__/
