.top-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
}

h1{ 
    font-weight: bold;
}

.top-text {
    padding-top: 5%;
    flex: 1;
    margin-right: 2em; /* Add space between text and image */
    font-size: large;
}

.surgery-image {
    width: 40%;
    padding-bottom: 50px;
}
/* Styles for the booking section */
.booking-section {
    padding-top: 5%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.booking-section h2 {
    margin-bottom: 1em; /* Adds space below the heading */
}

.booking-box {
    background-color: #009678;
    padding: 2em;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.booking-box select {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    background: none;
    flex: 1; 
    background: transparent;
    text-align: left;
}

.booking-box select option {
    background: #fff;
    color: #000;
}

.booking-box button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 1em 5em;
    border: none;
    border-radius: 5px;
    background-color: #00b6ff;
    color: white;
    cursor: pointer;
    margin-left: 50px; /* Pushes the button to the right */
}

.booking-box button:hover {
    background-color: blue;
}

/* Footer section styling */
.footer-section {
    background-color: #00a7e9;
    padding: 2em;
    text-align: center;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-around; /* Distributes items evenly */
    display: flex;
}

.footer-item {
    flex: 1; 
    min-width: 150px; 
    margin: 1em; 
}

.footer-item img {
    max-width: 100px; 
    height: auto; /* Maintains aspect ratio */
}

.footer-item h3 {
    margin: 0.5em 0;
    color: white;
}

.footer-item p {
    margin: 0;
    color: white;
}

@media (max-width: 1280px) {
    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .top-text {
        text-align: center;
    }

    .surgery-image {
        display: none;
    }

    .booking-section {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {




    .booking-box button {
        margin-left: 0px; /* Pushes the button to the right */
    }


}
