body {
    background-color: #009259;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.login-box {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: -10%; 
}

.login-box h1 {
    margin-top: 0;
}

.login-box button {
    background-color: #009259; 
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.login-box button:hover {
    background-color: #007a44; 
}

.auth-links {
    margin-top: 1em;
    text-align: center;
}

.auth-link {
    display: block;
    color: #009259;
    text-decoration: none;
    margin-top: 0.5em;
}

.auth-link:hover {
    text-decoration: underline; 
}

@media (max-width: 1024px) {

    .login-box {
        margin-top: -50%; 
    }

}
