body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-inline: 10%;
}

.navbar {
    background-color: #009678;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Alternative navbar styling
.navbar {
    background-color: #009678;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
*/

.navbar .logo {
    margin-right: 1em;
}

/* Links container */
.navbar .nav-links {
    display: flex;
    gap: 1em;
}

/* General nav link styling */
.navbar .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-link:hover {
    text-decoration: none; 
}

/* Login button styling */
.navbar .login-link {
    background-color: #00b6ff;
    padding: 1.3em 6em;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer; 
}

.navbar .login-link:hover {
    background-color: blue;
    text-decoration: none; 
}

/* Register button styling */
.navbar .register-link {
    background-color: #ff7800;
    padding: 1.3em 6em;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer; 
}

.navbar .register-link:hover {
    background-color: #ff2300;
    text-decoration: none; 
}

/* Logout button styling */
.navbar .logout-link {
    background-color: #ff6666;
    padding: 1.3em 6em;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer; 
}

.navbar .logout-link:hover {
    background-color: #cc0000;
    text-decoration: none; 
}

/* Home styles */
.image-section img {
    max-width: 500px; 
    height: auto;
    margin-top: -110px;
    float: right; 
}

@media (max-width: 1024px) {
    
    .navbar .nav-links {
        display: flex;
        flex-direction: column; 
        gap: 1em; 
    }

    .image-section #home-image1 {
        max-width: 350px; 
    }

}
