body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #009259;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    margin-right: 1em;
}

/* Links container */
.navbar .nav-links {
    display: flex;
    gap: 1em;
}

/* General nav link styling */
.navbar .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-link:hover {
    text-decoration: none; 
}

/* Login button styling */
.navbar .login-link {
    background-color: #00b6ff;
    padding: 1em 5em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.navbar .login-link:hover {
    background-color: blue;
    text-decoration: none; 
}

/* Register button styling */
.navbar .register-link {
    background-color: #00b6ff;
    padding: 1em 5em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.navbar .register-link:hover {
    background-color: blue;
    text-decoration: none; 
}

main {
    padding: 2em;
}

/* Logout button styling */
.navbar .logout-link {
    background-color: #ff6666;
    padding: 1.3em 6em;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer; 
}

.navbar .logout-link:hover {
    background-color: #cc0000;
    text-decoration: none; 
}

@media (max-width: 1024px) {
    .navbar .nav-links {
        display: flex;
        flex-direction: column; 
        gap: 1em; 
    }

    .navbar .login-link {
        padding: 1em 2em;
    }

    .navbar .register-link {
        padding: 1em 2em; 
    }
}
