{% extends 'layout.html' %}

{% load static %}
{% block title %}
Pharmacist Services
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/services.css' %}"> 
{% endblock %}

{% block content %}
<h1>Pharmacist Services</h1>
<ul class="services-list">
    <li class="service-item">
        <img src="{% static 'images/pills_icon.webp' %}" alt="Pill Bottle" class="service-icon">
        <div class="service-text">
            <h3>Review Prescription Requests</h3>
            <p>Review patient prescription requests made by doctors.</p>
            <button onclick="location.href='{% url 'review_prescriptions' %}'">Review</button>
        </div>
    </li>
</ul>
{% endblock %}
